.rating-container {
    unicode-bidi:bidi-override;
    direction:rtl;
    font-size:30px;
}
.rating-container span.rating-option {
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    display:inline-block;
}
.rating-container span.rating-option:hover {
    cursor:pointer;
}
.rating-container span.rating-option:before {
    content:"\f006";
    padding-right:5px;
    color:#999999;
}
.rating-container span.rating-option:hover:before, .rating-container span.rating-option:hover~span.rating-option:before {
    content:"\f005";
    color:#e3cf7a;
}


span.rating-option.filled:before{ color:#e3cf7a; content:"\f005";}